<h1>Coaching Answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<!-- DISPLAY THE QUESTION ASKED TO COACH -->
Your answer:
<%= @answer %>

coach answer :
<%= @coach_answer %>

<div class="link-style">
  <%= link_to "Ask again!", ask_path %>
</div>
