<div class="container">
  <h1 class = h1>Coaching Ask</h1>
  <p>Find me in app/views/coaching/ask.html.erb</p>
  <form action="answer" method="get">
    <input type="text" name="query" placeholder="Ask your coach" id="form">
    <input type="submit" value="Get Started" class= "btn btn-primary">
  </form>
</div>
