<div class= "container">
  <h1 class = h1>Welcome To Your Personal Coach</h1>
  <p>Find me in app/views/coaching/ask.html.erb</p>
  <form action="answer" method="get" style="
    display: grid; margin-left: 40%; width:20%;">
    <input type="text" name="query" placeholder="Ask your coach" id="form">
    <input type="submit" value="Get Started" class= "btn btn-primary button-position" style="position: center;">
  </form>
</div>
