// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form{
  color: blue;
  height:35px;
  background-color: transparent
}

.link-style{
  font-weight: bold;
}

.h1{
  font-size: 41px;
}

.container {
  margin-top: 100px;
  // margin: 0 auto;
  width: 970px;
  text-align: center;
}

.button-position{
  position: fixed;
  position: relative;

  // margin-left: 420px;
  margin-top:10px;
}
